bin/
obj/
_ReSharper.*
*.ReSharper.*
*.sln.cache
*.suo
*.csproj.user
*.resharper.user
docs/README.html
.*.swp
Bounce.tmp/
Downloads/
*.DotSettings.user
/TestResult.xml
_ReShaper.*/
*.nupkg
_TeamCity.*/
packages/
/.idea
/Tools/nuget_api_key.txt
